<div class="max-w-96 rounded-md flex flex-col justify-center items-center border border-lime-700 p-5">
    <img
        [src]="imageUrl"
        class="w-40"
        alt=""
    >
    <div class="mt-4">
        <p class="text-lime-300 text-xl text-center">Name</p>
        <p class="text-lime-300 text-xl text-center">name@name.com</p>
        <button
            routerLink="/"
            class="text-white block w-full border border-lime-300 px-10 py-2 rounded-lg uppercase shadow-md shadow-lime-900 tracking-wider mt-3"
        >View</button>
    </div>
</div>
